/.bundle
/tmp/*
**.war
*.rbc
*.sassc
.byebug_history
.redcar/
.sass-cache
.coditsu/local.yml
/spec/tmp/*
/cache
/gems
/specifications
**.orig
.DS_Store
/nbproject
.idea
/*.tmproj
**.swp
.yardoc
/coverage
/.yard
node_modules
/run.rb